%tr.media_set_list
  %td{:style => 'width:400px'}
    %strong= link_to list_item.caption, media_set_path(list_item)
    ="(#{list_item.collectables.count} Medien)"
  %td= "&nbsp;&rsaquo;&nbsp;#{link_to 'ZIP', formatted_media_set_path(list_item, :zip)}"
  %td= "&nbsp;&rsaquo;&nbsp;#{link_to 'PDF', formatted_media_set_path(list_item, :pdf)}"

