=#javascript_tag "function appletInitialized( applet ) { setAuthenticityToken('#{@authenticity_token}');}"

%h1
  Medien hochladen
  - if @media_set.defined?
    in Kollektion
    =h @media_set.caption
  %span{:style => 'float:right', :class => 'smalltext'}
    = link_to_function 'Hilfe anzeigen' do |page|
      - page.visual_effect(:toggle_blind, 'help', :duration => 0.5)

#help{:style => 'display: none'}
  %p 
    %em Hinweise zum Upload-Vorgang mit JumpLoader:

  %p
    Medien können über das Java Plugin "JumpLoader" hochgeladen werden.
    - if @media_set.defined?
      Nachdem Sie weitere Medien in die Kollektion hochgeladen haben, klicken Sie auf den Knopf "Weiter..." und nehmen Sie allenfalls die nötigen Definitionen für die neuen Medien vor.
    - elsif @media_set.uploading?
      Nachdem Sie die Medien hochgeladen haben, klicken Sie auf den Knopf "Weiter..." und nehmen Sie die nötigen Definitionen vor.

  %h2 Zulässige Dateiformate
  %p Zur Zeit können Sie Medien in den folgenden Formaten hochladen:
  %ul
    %li Bilder: GIF, PNG, JPEG, TIFF
    %li Audio-Clips: MP3
    %li Video-Clips: Quicktime MOV, Flash FLV
    %li Dokumente: ZIP, PDF, DOC, XLS, PPT

  %h2 Dateien hochladen
  Ziehen Sie Dateien oder einen Ordner in den Upload-Bereich ("Dateien hier her ziehen"). Die Dateien erscheinen als Vorschau. Drücken Sie dann den Hochlade-Knopf (Pfeil nach oben)

  %h2 Bilder bearbeiten
  %p Bilder, die Sie zum Hochladen ausgewählt haben, können Sie vor dem Hochladen noch bearbeiten. Klicken Sie dazu auf das Pinsel-Symbol auf dem Bild.

  = button_to_function 'Hilfe schliessen' do |page|
    - page.hide('help')


- jar_file = "jumploader_z-#{JUMPLOADER_VERSION.join('_')}.jar"
- post_url = "#{public_url}#{upload_media_set_path(@media_set, :format => :js)}"

%object{ :id => 'jumpLoaderApplet', :classid => 'java:jmaster.jumploader.app.JumpLoaderApplet.class', :type => 'application/x-java-applet', :width => '100%', :height => 500}
  %param{:name => 'codebase', :value => "#{public_url}/applets/" }/
  %param{:name => 'archive', :value => "messages_de.zip,#{jar_file}" }/
  %param{:name => 'mayscript', :value => 'true' }/

  -#%param{:name => 'ac_mode', :value => 'framed' }/
  %param{:name => 'ac_fireAppletInitialized', :value => 'true' }/
  %param{:name => 'ac_fireUploaderFileStatusChanged', :value => 'true' }/
  -#%param{:name => 'ac_fireUploaderStatusChanged', :value => 'true' }/

  %param{:name => 'uc_urlEncodeParameters', :value => 'true' }/    
  %param{:name => 'uc_uploadUrl', :value => post_url }/
  %param{:name => 'uc_fileParameterName', :value => 'medium[uploaded_data]' }/
  %param{:name => 'uc_imageEditorEnabled', :value => 'true' }/
  %param{:name => 'uc_partitionLength', :value => 1024**3 }/
  %param{:name => 'uc_directoriesEnabled', :value => 'true' }/
  %param{:name => 'uc_fileNamePolicy', :value => 'name' }/
  -#%param{:name => 'uc_sendImageMetadata', :value => 'true' }/

  -pattern = "^.+\.(#{@allowed_upload_extensions.collect {|e| ["(#{e.to_s})", "(#{e.to_s.upcase})"] }.flatten.join('|')})$"
  %param{:name => "uc_fileNamePattern", :value => pattern }/
  %param{:name => "vc_fileNamePattern", :value => pattern }/
  %param{:name => 'vc_lookAndFeel', :value => "system" }/
  %param{:name => 'vc_mainViewFileTreeViewWidthPercent', :value => "33" }/

  -#%param{:name => 'gc_loggingLevel', :value => "DEBUG" }/

- if FEATURE_METADATA
  :javascript
    setPostAttributeSendMetadata("importMetadata", true);
  = check_box_tag 'metadata_import', '1', true, :onclick => 'setPostAttribute("importMetadata", this.checked ? this.value : null)'
  Metadaten (EXIF etc.) importieren


-if @media_set.defined?
  %h2 Hochgeladene Dateien:
  = render :partial => 'media_sets/collection_box'
  = button_to "Weiter: Kollektion #{@media_set.caption} anzeigen...", media_set_path(@media_set), :method => :get
-elsif @media_set.uploading?
  %h2 Hochgeladene Dateien:
  = render :partial => 'media_sets/collection_box', :object => @media_set
  = button_to "Weiter: Kollektion definieren...", edit_media_set_path(@media_set), :method => :get
