%h3 Dokument
- if fullview.has_preview?
  - if fullview.flash_preview.available?
    %p Kurzvorschau (Auschnitt):
    - div_id = "previewplayer#{fullview.id}"
    - width = 580
    - height = (width * (30 / 21)).to_i
    %div{:class => 'flash_preview', :id => div_id}
      = no_flash_text

    :javascript
      var so = new SWFObject('#{fullview.flash_preview.public_filename}','ply','#{width}','#{height}','9','#ffffff');
      so.addParam('allowfullscreen','true');
      so.addParam('allowscriptaccess','always');
      so.addParam('wmode','opaque');
      so.write('#{div_id}');
  - else
    = no_preview_text