- div_id = "mediaplayer#{preview.id}"
- small_preview ||= false
- width = small_preview ? 150 : 350                              
- height = small_preview ? 130 : 300
%div{:id => div_id}
  = no_flash_text

:javascript
  var so = new SWFObject('/mediaplayer/player.swf','ply','#{width}','#{height}','9','#ffffff');
  so.addParam('allowfullscreen','true');
  so.addParam('allowscriptaccess','always');
  so.addParam('wmode','opaque');
  so.addVariable('file','#{preview.public_filename}');
  so.addVariable('skin', '/mediaplayer/skins/simple.swf');
  so.write('#{div_id}');
