#left
  %h1 Nach Medien suchen
  %p.limited
    Hier können Sie nach den Medien suchen, auf denen Sie Leseberechtigung haben. Gesucht wird in Titel, Beschreibung und Schlagworten von Medien und Kollektionen.
    %span{:style => 'float:right', :class => 'smalltext'}
      = link_to_function 'Hilfe anzeigen' do |page|
        - page.visual_effect(:toggle_blind, 'help', :duration => 0.5)
  .clear

  #help{:style => 'display: none'}
    %p Beispiele für die Suchsyntax:
    %ul
      %li
        %pre Geschichte Napoleon
        Mehrwort-Suche. Findet Medien mit zwingendem Vorkommen beider Wörter "Geschichte" und "Napoleon".
      %li
        %pre "national geographic magazin"
        Satzsuche. Findet die exakte Wortfolge "National Geographic Magazin".
      %li
        %pre Eiger OR Mönch
        Oder-Verknüpfung. Findet alle Medien die entweder "Eiger" oder "Mönch" enthalten.
      %li
        %pre Strauss -Johann
        Ausschluss. Findet alle Medien die "Strauss" enthalten, nicht aber "Johann".
      %li
        %pre afrik*
        Mehrbuchstaben-Platzhalterzeichen. Findet Medien mit "afrikanisch" oder "Afrika" etc.
      %li
        %pre ?euer
        Einzelbuchstaben-Platzhalterzeichen. Findet Medien mit "Feuer" oder "teuer" etc., nicht aber "Steuer".

  -form_tag(search_media_path, :name => 'search_form') do
    Volltextsuche:
    %br
    #search_panel
      = text_field_tag 'search_fulltext', @query.ferret_query, :style => 'width:420px;height:18px', :autocomplete => 'off'
      = submit_tag("Suchen", :style => 'width:75px')
      = button_to_function 'Zurücksetzen', "reset_search_field();"
      = build_delayed_observer 'search_fulltext', :url => {:action => 'ajax_search_lookahead'}, :with => 'tag_names', :frequency => 0.5
      %p.smalltext#approx_total_hits
    %h2
    .slide_in
      %p
        Intelligenter Schlagworte-Vorschlag:
        %span#related_tags
    .slide_in
      %p
        Fach-Schlagworte:
        = subjects_link_list('search_fulltext')
      %p
        Top-Schlagworte: 
        = top_tags_link_list('search_fulltext', {:limit => 30})
      %p
        Meine Top-Schlagworte:
        = my_top_tags_link_list('search_fulltext', {:limit => 30})
    %br
    .clear
    %fieldset.left{:style => 'width:100%'}
      %legend Optionen
      .left
        - for media_class in Medium.sub_classes
          = check_box_tag "media_types[#{media_class.to_s.tableize}]", '1', @query.media_type?(media_class)
          = media_class.type_display_name_plural
          %br
      .left
        = check_box_tag 'my_media_only', '1', @query.my_media_only?
        Nur in eigenen Kollektionen suchen
        %br
        = check_box_tag 'save_query', '1', false
        Suchanfrage speichern als:
        = text_field_tag 'saved_query_name', nil, :onclick => "$('save_query').checked = true"
    .clear
    %br  

#right                                                                                                                        
  %h2.first Meine gespeicherten Suchanfragen
  - if current_user.search_queries.empty?
    = no_data_text
  - else
    %table.list= render :partial => 'search_queries/list_item', :collection => current_user.search_queries

:javascript
  $('search_fulltext').focus()