- if @email_sent
  %h1 Löschung beantragt
  %p Ihr Löschantrag wurde gesendet. Sie erhalten per Email eine Kopie. Die Entscheidung Ihres Antrags obliegt dem Eigentümer. Die Mediendatenbank nimmt von selbst keine Löschung vor.
  = link_to 'Zurück zum Medium ...', medium_path(@medium)
- else
  %h1 Löschung beantragen
  %p Hiermit beantragen Sie, dass folgendes Medium gelöscht wird:
  %br
  =render :partial => "media/#{@medium.template_path}/preview", :object => @medium, :locals => {:small_preview => true}
  %br
  %br

  - if @error_message
    .error= @error_message
  
  - form_tag do
    %table.list
      %tr
        %td Geht per Email an:
        %td
          = @medium.owner.full_name
          = "(#{@medium.owner.email})"
      %tr
        %td Ihr Name:
        %td
          - sender = logged_in? ? current_user.full_name : params[:sender_name]
          = text_field_tag 'sender_name', sender, :style => 'width:300px'
      %tr
        %td Ihre E-Mail:
        %td
          - email = logged_in? ? current_user.email : params[:sender_email]
          = text_field_tag 'sender_email', email, :style => 'width:300px'
      %tr
        %td Antrag:
        %td= text_area_tag 'note', params[:note] || "Ich beantrage die Löschung des Mediums mit ID #{@medium.id}.", :style => 'width:300px;height:100px'
    = submit_tag 'Löschantrag senden!'
    = link_to 'Abbrechen', medium_path(@medium)
