#left

  %h1= @medium.name
  
  %table.properties
    %tr
      %th.label Eigenschaft
      %th.value Wert
    - label_and_values = []
    - label_and_values << ['Schlagworte', formatted_tag_list(@medium)]
    - label_and_values << ['Besitzer', @medium.owner_name || no_data_text]
    - label_and_values << ['Quelle/Copyright', @medium.formatted_source || no_data_text]
    - label_and_values << ['Sichtbar für', @medium.viewer_names]
    - label_and_values << ['Originaler Dateiname', @medium.original_filename]
    - label_and_values << ['Abmessungen', @medium.dimensions] if @medium.respond_to? :dimensions
    - label_and_values << ['Format', @medium.format]
    - label_and_values << ['Grösse', number_to_human_size(@medium.size, :precision => 2)]
    - label_and_values << ['Erstellt am', @medium.created_at.to_formatted_s(:german)]
    - label_and_values << ['Zuletzt bearbeitet am', @medium.updated_at.to_formatted_s(:german)]
    - label_and_values << ['Enthalten in Kollektionen', @medium.defined_media_sets.collect {|ms| link_to(ms.name, ms) }.join(', ') ]
    - for label, value in label_and_values
      %tr
        %td.label= label
        %td.value= value

  %h2 Beschreibung
  .media_desc_detail= formatted_desc(@medium)
  .medium_detail= render :partial => "media/#{@medium.template_path}/fullview", :object => @medium
  
  - if FEATURE_METADATA
    - if not @medium.meta_data.blank?
      %h2 Meta-Daten
      =simple_format @medium.meta_data
  

#right
  %ul
    %li= backlink
    -if current_user.can_edit?(@medium)
      %li= link_to 'Bearbeiten', edit_medium_path(@medium)
      %li= link_to 'Löschen', medium_path(@medium), :confirm => 'Sind Sie sicher? Das Medium wird aus der Mediendatenbank gelöscht und auch aus allen Mediensets entfernt! Dieser Vorgang kann nicht rückgängig gemacht werden.', :method => :delete
    %li= medium_download_link(@medium)
    


