#left

  %h1= @medium.name
  
  %table.properties
    %tr
      %th.label Eigenschaft
      %th.value Wert
    - label_and_values = []
    - label_and_values << ['Schlagworte', formatted_tag_list(@medium)]
    - label_and_values << ['Besitzer', @medium.owner_name || no_data_text]
    - label_and_values << ['Quelle/Copyright', @medium.formatted_source || no_data_text]
    - label_and_values << ['Sichtbar für', @medium.read_permissions_description]
    - label_and_values << ['Originaler Dateiname', @medium.original_filename]
    - label_and_values << ['Abmessungen', @medium.dimensions] if @medium.respond_to? :dimensions
    - label_and_values << ['Format', @medium.format]
    - label_and_values << ['Grösse', number_to_human_size(@medium.size, :precision => 2)]
    - label_and_values << ['Erstellt am', @medium.created_at.to_formatted_s(:german)]
    - label_and_values << ['Zuletzt bearbeitet am', @medium.updated_at.to_formatted_s(:german)]
    - label_and_values << ['Enthalten in Kollektionen', @medium.media_sets_for_user_as_viewer(current_user).collect {|ms| link_to(ms.name, ms) }.join(', ') ]
    - for label, value in label_and_values
      %tr
        %td.label= label
        %td.value= value

  %h2 Beschreibung
  .media_desc_detail= formatted_desc(@medium)
  .medium_detail= render :partial => "media/#{@medium.template_path}/fullview", :object => @medium
  
  - if FEATURE_METADATA
    - if not @medium.meta_data.blank?
      %h2 Meta-Daten
      %table.properties
        - for key, value in @medium.meta_data.sort
          %tr
            %td.label=h key
            %td.value
              - case value
              - when Array
                =simple_format value.join("\n")
              - when String
                =simple_format value
              - else
                =h value.to_s
  

#right
  %ul
    %li= backlink
    -if permit?(:edit, @medium)
      %li= link_to 'Bearbeiten', edit_medium_path(@medium)
      %li= link_to 'Löschen', medium_path(@medium), :confirm => 'Sind Sie sicher? Das Medium wird aus der Mediendatenbank gelöscht und auch aus allen Mediensets entfernt! Dieser Vorgang kann nicht rückgängig gemacht werden.', :method => :delete
      %li= link_to 'Vorschau erneut generieren', generate_previews_medium_path(@medium), :confirm => 'Sind Sie sicher? Die aktuellen Vorschauen werden gelöscht und neue werden generiert. Dieser Vorgang kann einige Zeit in Anspruch nehmen.'
      - if FEATURE_METADATA
        %li= link_to 'Meta-Daten erneut von Original einlesen', read_meta_data_medium_path(@medium), :confirm => 'Sind Sie sicher? Die aktuellen Meta-Daten und Schlagwörter werden dabei überschrieben!'
    %li= medium_download_link(@medium)
    


