%h1.left=h @media_set.caption
.right
  = link_to('Zur Übersicht ...', public_slideshows_path)
  &nbsp;
  = link_to('Zur Grossansicht ...', public_slideshow_path(@media_set, :style => 'lightbox', :size => 'big'))
  &nbsp;
  = link_to('Zur Diashow ...', public_slideshow_path(@media_set, :style => 'slideshow'))
  &nbsp;
  = link_to('Zur Mobile-Ansicht ...', public_slideshow_path(@media_set, :style => 'mobile'))
.clear
%p=h @media_set.desc

#media_list
  =render :partial => "slide_#{@size}", :locals => {:member_media_set => @media_set, :composing_media_set => nil}, :collection => @media