!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title= browser_title
    = stylesheet_link_tag "spiffy", :media => "all"
    = stylesheet_link_tag "mediaclue", :media => "all"
    = javascript_include_tag :defaults, 'hoverimage', 'swfobject.js'
  %body
    #container
      #header

        .left
          = link_to(image_tag(LOGO_FILENAME, :style => 'vertical-align:text-bottom'), root_url)
        #service
          = link_to image_tag('home.gif'), root_url
          %span
            Mediendatenbank
            - if logged_in?
              &nbsp;&mdash;&nbsp;
              Angemeldet als:&nbsp;
              = current_user.full_name
            &nbsp;&nbsp;
          - if logged_in?
            = link_to('Abmelden', :controller => 'account', :action => 'logout')
        .clear

      #menu
        - menu_items = []
        - if logged_in?
          -  menu_items.concat([ link_to('Suchen', search_path), link_to('Meine Übersicht', media_sets_path)])
          - if current_user.can_upload?
            -  menu_items.concat([ link_to('Hochladen', uploader_media_set_path(current_user.uploading_media_set))])

        - menu_items.concat([link_to('Galerien', public_slideshows_path)])
        - if not logged_in?
          - menu_items.concat([link_to('Login', :controller => 'account', :action => 'login')])
        
        - if URL_TO_EXTERNAL_HELP
          - menu_items << link_to('Hilfe', URL_TO_EXTERNAL_HELP, :target => 'blank')
        = menu_items.join(' | ')
        &nbsp;
      - if not flash[:notice].blank?
        #flash{:class => "notice"}= flash[:notice]
      - if not flash[:error].blank?
        #flash{:class => "error"}= flash[:error]
      #hauptinhalt
        = yield
        .clear
      .clear
      #footer
        %p
          = link_to(image_tag('logo_m_icon.png', :width => 20, :height => 20, :style => 'vertical-align:middle'), 'http://www.mediaclue.ch', :target => '_blank')
          mediaclue | Entwickelt von <a href="http://www.kshp.ch" target="_blank">Gymnasium Hohe Promenade</a> &amp; <a href="http://www.mindclue.ch" target="_blank">mindclue gmbh</a>
          | Version:
          = REVISION
