!!! XML
!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'utf-8'} 
    %title
      mediaclue
      =PROJECT_NAME

    = stylesheet_link_tag "spiffy", :media => "all"
    = stylesheet_link_tag "mediaclue", :media => "all"
    = javascript_include_tag :defaults, 'hoverimage', 'swfobject.js'
  %body
    #container
      #header

        .left
          = link_to(image_tag('logo_small.png', :width => 90, :height => 49, :style => 'vertical-align:text-bottom'), root_url)
          &nbsp;
          = PROJECT_NAME
        #service
          = link_to('Zurück zur Normalansicht', @back_url)
        .clear

      #hauptinhalt
        = yield
        %br{:class => "clear"}
      %br{:class => "clear"}
      #footer